body{
  background-color:#ebeff1;
	text-align: center;
}
img.logo{
	max-width: 250px;
	display: block;
	margin: 20px auto 0;
}
@media screen and (max-width: 480px){
	img.logo{
		max-width: 200px;
		margin: 100px auto 0;
	}
}
h1{
  text-align:center;
  color:#36464e;
  text-transform: capitalize;
  letter-spacing:0.05em;
}
.link{
	background: #1976d2;
	color: #fff;
	letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    border: medium none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 30px auto 60px;
}
.stage{
	width: 100%;
	max-width:800px;
	height:350px;
	margin:0 auto;
	background-color:#fff;
	box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.item{
	display: block;
	margin: 0 auto;
	padding-top: 45px;
	width: 250px;
	max-width: 90%
}

svg{
	display: block;
	overflow: visible;
	max-width: 80%;
}